body {
    margin: 0; overflow: hidden;
    font-family: 'Press Start 2P', cursive; /* Font Pixel */
    background-color: #87CEEB;
}

#crosshair {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px; font-family: monospace; font-weight: bold;
    pointer-events: none; z-index: 5;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.5);
}

/* Tampilan Menu ala Minecraft */
#ui-menu {
    position: absolute; top: 0; left: 0; width: 100vw; height: 100vh;
    background-color: #3a2618; /* Warna dasar kotoran */
    background-image: repeating-linear-gradient(45deg, rgba(0,0,0,0.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,0.1) 75%, rgba(0,0,0,0.1)), repeating-linear-gradient(45deg, rgba(0,0,0,0.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,0.1) 75%, rgba(0,0,0,0.1));
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center; z-index: 20;
}

#menu-box {
    text-align: center; background: rgba(0,0,0,0.6);
    padding: 40px; border: 4px solid #000;
}

#menu-box h1 { color: #fff; text-shadow: 4px 4px 0 #3f3f3f; line-height: 1.5; }

#btn-play {
    margin-top: 20px; padding: 15px 30px; font-size: 16px;
    background-color: #727272; color: white;
    border: 3px solid #000; cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    box-shadow: inset 4px 4px 0px #aaaaaa, inset -4px -4px 0px #333333;
}
#btn-play:hover { background-color: #888; box-shadow: inset 4px 4px 0px #cccccc, inset -4px -4px 0px #444444; }

.controls-info { margin-top: 30px; color: #ccc; font-size: 10px; line-height: 2; }

/* HOTBAR STYLES */
#hotbar {
    position: absolute; bottom: 20px; left: 50%;
    transform: translateX(-50%); display: flex; gap: 4px;
    background: rgba(0, 0, 0, 0.4); padding: 4px;
    border: 4px solid #000; z-index: 10;
}

.slot {
    width: 48px; height: 48px; background: #8b8b8b;
    border: 3px solid #000; box-shadow: inset 2px 2px 0px #fff, inset -2px -2px 0px #555;
    position: relative; box-sizing: border-box; cursor: pointer;
}

.slot img { width: 100%; height: 100%; image-rendering: pixelated; }

.slot span {
    position: absolute; bottom: 2px; right: 4px;
    color: white; font-size: 10px; text-shadow: 2px 2px 0 #000;
}

.slot.active { border-color: #fff; box-shadow: 0 0 10px rgba(255,255,255,0.8); transform: scale(1.1); z-index: 12; }

#chat-container { position: absolute; bottom: 90px; left: 20px; width: 350px; z-index: 15; }
#chat-messages { background: rgba(0, 0, 0, 0.6); color: white; height: 150px; overflow-y: auto; padding: 10px; margin-bottom: 5px; font-size: 10px; text-shadow: 1px 1px 0 #000; line-height: 1.5; }
#chat-input { width: 100%; padding: 10px; border: 2px solid #000; background: rgba(0, 0, 0, 0.8); color: white; outline: none; box-sizing: border-box; font-family: 'Press Start 2P', cursive; font-size: 10px; }
